* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    
}
.first {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 300px; 

}

.game {
     color: #f1f1f1;
    margin: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
     height: 500px;
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 18px;
   
 } 


.bg {  
    background-size: cover;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    }

h1 {
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(36, 80, 80);
    font-size: 100px;
    text-align: center; 
    margin: 20px 80px;
    letter-spacing: 15px;
    line-height: 70px;
    padding: 40px;
   
    
}


.square{
    width: 200px;
    height: 200px;
    background: rgb(85, 139, 175);
    margin: 4px;
    font-size: 150px;
    color: rgb(111, 161, 115) ;
    cursor: pointer;
    text-align: center; 
   
}

#reload {
    width: 300px;
    font-size: 30px;
    padding: 10px;
    margin :80px auto;
    background:rgb(111, 192, 111) ;
    display: fixed;
    border-radius: 12px;
    z-index: 10;

   
}