

 body { 
    
    background-image: url("Tic-Tac-Toe.jpg");
    
  

    }

    h1 {

        color: black;
        -webkit-text-fill-color: white; 
         -webkit-text-stroke-width: 5px;
         -webkit-text-stroke-color: rgb(36, 80, 80);
         font-size: 100px;
         text-align: center; 
         margin: 150px auto;
       
      }
    

    
.game {

    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}
x  

  
 .row {

    display: flex;
    width: 150%;
    height: 150px;
    margin:0 auto;
        }
    
.square{
  display: flex; 
  width: 200px;
  height: 200px;
  background: darkgrey;
  margin: 4px;
  font-size: 100px;
  color: pink;
  cursor: pointer;
  float: left;
  text-align: center
        
    }


button {
justify-content: center;
margin-left:1300px;
width: 200px;
height:100px;
-webkit-text-stroke-width: 3px;
-webkit-text-fill-color: white; 
-webkit-text-stroke-color: rgb(36, 80, 80);
font-size: 10px;



}